// ============================================================================
// File: symarray.c
// ============================================================================
// Programmer: Therese Obara
// Date: 02/08/2018
// Class: CSCI 223 ("C Programming for Mathematics and Science")
// Time: T/Th 4:30pm
// Instructor: Prof. Edwards
// Project: HW10
//
// Description:
//      This program that calls the function SymArray that takes as input the
//      base address of an array of ints and the number of elements in the
//      array. The function will return a value of one if the array is
//      symmetrical, zero if not. (An array is symmetrical if its first element
//      is equal to its last element, its second element equal to the
//      next-to-the-last element, etc.) However, the function can only use
//      pointers to make the determination, you cannot use the subscript
//      operator.
//
// ============================================================================

